/*
HEADER
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #12a9fb;
    
  }
  
  /*
  HEADER
  
  */
  header {
    /* background: #111; */
    /* color: #777; */
    padding: 5px 0;
    /* width: 90%; */
    /* margin-top: 56px; */
    /* padding: 5px 0; */
    margin-left: 66px;
    position: fixed;
    z-index: 9999;
    width: 100%;
  }
  /* /padding  around the header/ */
  .language ul,
  .menu-social ul {
    padding: 0;
    margin: 0;
  }
  
  .language > ul > li,
  .menu-social ul li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid rgb(226, 226, 226);
  }
  
  .language > ul > li:last-child {
    border-right: none;
  }
  
  .language ul li i {
    margin-left: 4px;
    font-size: 14px;
  }
  
  .dropdown {
    background: #fff;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 4px;
    position: absolute;
    z-index: 4;
    padding: 10px;
    top: 36px;
    width: 116px;
    text-align: center;
  }
  
  .dropdown ul li {
    list-style-type: none;
    border-bottom: 1px solid rgb(226, 226, 226);
    padding: 4px 0;
    transition: 0.3s all ease;
  }
  
  .dropdown ul li:hover,
  .menu-social ul li a:hover {
    color: #ff4000;
  }
  
  .dropdown ul li:last-child {
    border-bottom: none;
  }
  
  .menu-social ul li {
    border-right: none;
  }
  
  .menu-social ul li a {
    color: #777;
    text-decoration: none;
    transition: 0.3s all ease;
  }
  
  .menu-social ul li:nth-child(4) {
    border-right: 1px solid rgb(226, 226, 226);
  }
  
  /* .login {
    background: #777;
    padding: 5px 22px;
    margin-left: 12px;
    border-radius: 4px;
    color: #fff !important;
    transition: 0.3s all ease;
  } */
/*   
  .login:hover {
    background:#ff4000;
  }
   */