 <!-- <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="./">Store Name</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon">
            <i class="fas fa-shopping-basket"></i>
  
            <span class="cart-count">{{ cartService.getItems().length }}</span>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex ms-auto">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          &nbsp;&nbsp;&nbsp;
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link"  routerLink="./wishlist">Wishlist</a>
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link" routerLink="./order">Order</a>
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link" routerLink="./about">About</a>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link active" routerLink="./checkout">
                <img
                  src="./assets/images/add-to-cart.jpg"
                  alt="Cart"
                  width="30"
                  height="30"
                  class="d-inline-block align-text-top"
                />
                <span class="cart-count">{{
                  cartService.getItems().length
                }}</span>
              </a>
            </li>
          </ul>
          <div class="row">
            <div class="col-md-4">
              <div class="language">
                <ul>
                  <li (click)="drop('priceCode')">
                    {{ selectedCurrency }} <i class="fa fa-caret-down"></i>
                    <div class="dropdown" *ngIf="id === 'priceCode'">
                      <ul>
                        <li
                          (click)="setCurrency('INR')"
                          [ngClass]="{ active: selectedCurrency === 'INR' }"
                        >
                          INR
                        </li>
                        <li
                          (click)="setCurrency('EUR')"
                          [ngClass]="{ active: selectedCurrency === 'USD' }"
                        >
                          USD
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <router-outlet> </router-outlet> 
   -->


   <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="./">Store Name</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon">
            <i class="fas fa-shopping-basket"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex ms-auto">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          &nbsp;&nbsp;&nbsp;
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
              <a class="nav-link" href="">Account</a>
            </li> -->
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link" routerLink="./wishlist">Wishlist</a>
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link" routerLink="./order">Order</a>
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link" routerLink="./about">About</a>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link active" routerLink="./checkout">
                <img
                  src="./assets/images/add-to-cart.jpg"
                  alt="Cart"
                  width="30"
                  height="30"
                  class="d-inline-block align-text-top"
                />
                <!-- <span class="cart-count">{{
                  cartService.getItems().cart.length
                }}</span> -->
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <router-outlet> </router-outlet> 
  