/**/
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    height: fit-content;
    width: 100%;
    margin-top: 66px;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      to right,
      rgba(106, 17, 203, 1),
      rgba(37, 117, 252, 1)
    );
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      to right,
      rgba(106, 17, 203, 1),
      rgba(37, 117, 252, 1)
    );
  }
  
  /* Reset default styles */
  body {
    /* margin: 0; */
    margin-top: 66px;
    background: linear-gradient(
      to bottom right,
  
      rgba(37, 117, 252, 1),
      rgba(106, 17, 203, 1)
    );
  }
  
  h1 {
    color: white;
    text-align: center;
    margin-top: 1rem;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  .tab {
    background-color: #241c58;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .tab.active {
    background-color: #3b3065;
  }
  
  .tab:hover {
    background-color: #3b3065;
  }
  
  .tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-size: 1rem;
    color: white;
    margin-top: 1rem;
  }
  
  input[type="text"] {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
  }
  
  button {
    background-color: #241c58;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #3b3065;
  }
  /******NEW TRy */
  