----------------------------------------------------------------------------------
<section class="h-100 gradient-custom">
    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Cart - {{ cart.length }} items</h5>
            </div>
            <div class="card-body">
              <!-- Single item -->
              <div *ngFor="let item of items; let i = index" class="row">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                  <!-- Image -->
                  <div
                    class="bg-image hover-overlay hover-zoom ripple rounded"
                    data-mdb-ripple-color="light"
                  >
                    <img
                      src="{{ item.imgUrl }}"
                      class="img-fluid"
                      style="width: 150px"
                      alt="Generic placeholder image"
                    />
                    <a href="#!">
                      <div
                        class="mask"
                        style="background-color: rgba(251, 251, 251, 0.2)"
                      ></div>
                    </a>
                  </div>
                  <!-- Image -->
                </div>
  
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <p>
                    <strong>{{ item.name }}</strong>
                  </p>
                  <!-- <p>Color: {{ item.color }}</p>
                  <p>Size: {{ item.size }}</p> -->
                  <button
                    type="button"
                    class="btn btn-primary btn-sm me-1 mb-2"
                    data-mdb-toggle="tooltip"
                    title="Remove item"
                    (click)="removeFromCart(item)"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger btn-sm mb-2"
                    data-mdb-toggle="tooltip"
                    title="Move to the wish list"
                  >
                    <i class="fas fa-heart"></i>
                  </button>
                  <!-- Data -->
                </div>
  
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                  <!-- Quantity -->
                  <div class="d-flex mb-4" style="max-width: 300px">
                    <button
                      class="btn btn-primary px-3 me-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                      (click)="decrementQuantity(i)"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
  
                    <div class="form-outline">
                      <input
                        id="form1"
                        min="0"
                        name="quantity"
                        value="1"
                        type="number"
                        class="form-control"
                        placeholder=[(ngModel)]="item.quantity"
                      />
                      <label class="form-label" for="form1">Quantity</label>
                    </div>
  
                    <button
                      class="btn btn-primary px-3 ms-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                      (click)="incrementQuantity(i)"
                    >
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <!-- Quantity -->
  
                  <!-- Price -->
                  <p class="text-start text-md-center">
                    <strong>
                      {{ item.price  }}</strong
                    >
                  </p>
                  <!-- Price -->
                </div>
              </div>
              <!-- Single item -->
  
              <hr class="my-4" />
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <p><strong>Expected shipping delivery</strong></p>
              <p class="mb-0">12.5.2023 - 14.5.2023</p>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body">
              <p><strong>We accept</strong></p>
              <img
                class="me-2"
                width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                alt="Visa"
              />
              <img
                class="me-2"
                width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                alt="American Express"
              />
              <img
                class="me-2"
                width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                alt="Mastercard"
              />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Summary</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
                >
                  Products
                  <span>{{ total}}</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center px-0"
                >
                  Shipping
                  <span>Gratis</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
                >
                  <div>
                    <strong>Total amount</strong>
                    <strong>
                      <p class="mb-0">(including VAT)</p>
                    </strong>
                  </div>
                  <span
                    ><strong>{{
                      total 
                    }}</strong></span
                  >
                </li>
              </ul>
              <div class="d-flex justify-content-end mt-3">
                <button
                  type="button"
                  class="btn btn-outline-danger me-2"
                  (click)="clearCart()"
                >
                  Clear Cart
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger me-2"
                  (click)="goToPayment()"
                >
                  payment
                </button>
                <!-- <button
                  type="button"
                  class="btn btn-primary btn-lg btn-block"
                  [routerLink]="['/checkout']"
                >
                  Go to checkout
                </button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  