<section class="bg-color">
    <div class="container">
      <div class="title">
        <p>Your Wishlist</p>
        <h2><span>My</span> Wishlist</h2>
      </div>
      <div class="row">
        <div class="col-md-4" *ngFor="let item of items">
          <div class="card">
            <div class="card-main">
              <div class="image">
                <img src="{{ item.imgUrl }}" alt="Product" />
              </div>
              <div class="cart-line"></div>
              <div class="cart-item">
                <ul>
                  <li>
                    <a href="javascript:void(0);" (click)="addToCart(item)">
                      <i class="fa fa-shopping-basket"></i>
                    </a>
                  </li>
  
                  <li>
                    <a
                      href="javascript:void(0);"
                      (click)="removeFromWishlist(item)"
                    >
                      <i class="fa fa-trash"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="content">
              <a href="javascript:void(0);">{{ item.name }}</a>
              <div class="rating">
                <span
                  *ngFor="let star of [1, 2, 3, 4, 5]"
                  class="fa fa-star-o"
                ></span>
              </div>
              <p>
                <span class="money">₹{{ item.price }}</span>
                <span class="price-old" *ngIf="item.discount"
                  >₹{{ item.price + item.discount }}</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>