.bg-color {
    background-color: #f7f7f7;
    padding: 60px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 66px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .title h2 {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  .title span {
    color: rgb(238, 185, 79);
  }
  
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-md-4 {
    width: calc(33.33% - 15px);
    margin-bottom: 30px;
  }
  
  .card {
    position: relative;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card-main {
    position: relative;
  }
  
  .product-container {
    position: relative;
    width: 100%;
    height: 200px;
  }
  
  .image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center center;
  }
  
  .cart-line {
    height: 1px;
    background-color: #e5e5e5;
    margin: 20px 0;
  }
  
  .cart-item {
    display: flex;
    justify-content: flex-end;
  }
  
  .cart-item ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cart-item li {
    margin-left: 15px;
  }
  
  .cart-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #f08377;
    border-radius: 50%;
    color: #fff;
  }
  
  .content {
    text-align: center;
    padding: 20px;
  }
  
  .content a {
    font-size: 20px;
    color: #555;
    text-decoration: none;
  }
  
  .content a:hover {
    color: #f08377;
  }
  
  .rating {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  
  .rating span {
    color: #ffd700;
  }
  
  .money {
    font-size: 24px;
    color: #f08377;
  }
  
  .price-old {
    font-size: 16px;
    color: #aaa;
    text-decoration: line-through;
    margin-left: 10px;
  }
  