<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-...-..." crossorigin="anonymous">

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>


    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.9.0/mdb.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.9.0/mdb.min.js"></script> -->


</head>
<div class="contacts-container">
    <div class="contacts-header">
        <div class="container">
            <form class="d-flex">
                <input class="search-input" type="text" placeholder="Search Contacts" #searchInput>
                <button class="search-btn" type="submit" (click)="onSearch(searchInput.value)"><i
                        class="fa fa-search"></i>Search</button>
                <!-- Notification Logo -->
                <a class="notification-logo" href="#" data-bs-toggle="modal" data-bs-target="#notificationModal">
                    <i class="fa fa-bell"></i>
                    <span class="unread-notification"></span>
                </a>

            </form>
            <!-- ========= -->

            <!-- ========= -->
        </div>

    </div>

    <!-- Notification Modal -->
    <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-transparent">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notificationModalLabel">Notifications</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Add your notification content here -->
                    <p>Notification content goes here...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">View All</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Notification Modal -->

    <ng-container *ngIf="searchUser">
        <div class="modal fade show" id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true"
            style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="popupModalLabel">Search Result</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            (click)="closeModal()"></button>
                    </div>
                    <div class="modal-body">
                        <div class="contact">
                            <img src="" alt="Profile Picture">
                            <div class="contact-details">
                                <h3>{{searchUser.username}}</h3>
                                <p>{{searchUser.email}}</p>
                                <button class="AddFriend" (click)="SendFriendRequest(searchUser.userId)"> <i
                                        class="fa-solid fa-user-plus"></i> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop fade show"></div>
    </ng-container>

    <!-- Modal component template -->
    <ng-container *ngIf="showModal">
        <div class="modal fade show" id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true"
            style="display: block;     background-color: #787ee452; " (click)="showModal=false">
            <div class="modal-dialog" style="margin-top: 10%;   max-width: 400px; max-height: 400px;">
                <div class="modal-content  modal-dialog-transparent">
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="showModal=false" ></button> -->
                    <img src="{{imageUrl}}" alt="Modal Image" style="max-width: 100%; max-height: 100%;">
                </div>
            </div>
        </div>
    </ng-container>

    <!-- <ng-container *ngIf="showModal">
        <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel"
             aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-transparent">
            <div class="modal-content">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="showModal = false"></button>
              <div class="modal-body">
                <img [src]="imageUrl" alt="Modal Image">
              </div>
            </div>
          </div>
        </div>
    </ng-container> -->


    <div class="contacts-list list-group-light">
        <div class="contact " *ngFor="let contact of contacts">

            <img src="{{contact.userDetails.userImage || 'path/to/placeholder-image.jpg'}} " alt="Profile Picture"
                (click)="openModal(contact.userDetails.userImage)">
            <div class="contact-details" (click)="openChat(contact)">
                <h3>{{contact.friendUser.username}}</h3>
                <p>{{contact.friendUser.email}}</p>
                <p>{{contact.userDetails.about}}</p>

            </div>
            <!-- <button class="removeFriend" (click)="removefriend(contact.friendUser.userId); $event.stopPropagation()"><i class="fa-solid fa-trash"></i></button> -->
            <div id="container" class="dropDownClass">
                <!-- <input type="text" class="text" disabled> -->
                <div id="menu-wrap">
                    <input type="checkbox" class="toggler" />
                    <div class="dots">
                        <div></div>
                    </div>
                    <div class="menu">
                        <div>
                            <ul>
                                <li><button class="removeFriend" (click)="removefriend(contact.friendUser.userId); $event.stopPropagation()">Remove</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>