.contacts-container {
    /* width: 82%;  */
   /* border: 1px solid #ccc; */
   border-radius: 5px;
   margin-right: -32px;
   /* margin-top:50px; */
   margin-left: 68px;
   overflow: hidden;
   margin-right: 1px;
   /* display: flow-root; */
   /* position:fixed; */
   color: #ccc;
 }
 
 
 .contacts-header {
  background-color: #2673d0;
   color: #0f0f0f;
   border-top: 2px solid;
   border-left: 2px solid;
    /* margin-top: 6px; */
   padding: 10px;
   text-align: center;
   position:sticky;
   bottom: 10px;
 }
 
 .contacts-list {
   height: 625px;
   padding: 10px;
   overflow-y: scroll;
 }
 
 .contact {

  display: flex;
  align-items: center;
  padding: 10px;
   
   padding: 10px;
   border-bottom: 1px solid #ccc;
   padding-left: 50px;
 }
 
 .contact img {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   margin-right: 30px;
 }
 
 .contact h3 {
   font-size: 18px;
   margin-bottom: 5px;
 }
 
 .contact p {
   font-size: 14px;
   color: #666;
 }
 .search-input {
   width: 40%;
   padding: 12px ;
   margin-right: 10px;
   margin-left: 20%;
   border: none;
   border-radius: 10px;
   font-size: 16px;
 }
 
 .search-btn {
   background-color:rgb(47, 70, 239);
   /* border: none; */
   color: white;
   border-radius: 10px;
   /* padding: 12px 20px; */
   cursor: pointer;
   padding-right: 14px;
 }
 
 .search-btn i {
   font-size: 14px;
   margin-right:10px;
 }

.removeFriend {
  /* padding: 5px;
  margin-left: auto;
  margin-top: 30px;
  height: 50px; */
  background-color: #374154;
  border: 1px solid ;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease;
}

.removeFriend:hover {
  color: rgb(245, 33, 33);
}



a {
  color: #ffffff !important;
  padding-left: 50px;
  padding-top: 10px;
}

.contacts-list {
  list-style: none;
}


.contact:hover{
  background-color: rgb(22, 2, 100);
}

.AddFriend:hover{
  background-color: rgb(132, 254, 231);
}

.modal-content {
  background-color: #5086c8;;
  color: #ffffff !important;
}

.contact-details{
  padding-right: 40%;
  /* margin-right: 50% */
}

.dropDownClass{
  float: right
}


/* ================== */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

html {
  overflow: hidden;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  background: rgba(49, 49, 49, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#76d7c4),
    to(#bb8fce)
  );
  background: -o-linear-gradient(#76d7c4, #bb8fce);
  background: linear-gradient(#76d7c4, #bb8fce);
  z-index: -1;
}

body small {
  position: absolute;
  bottom: 20px;
  color: rgba(94, 77, 77, 0.4);
}

body small a {
  color: rgba(142, 118, 118, 0.4);
}

#container {
  width: 120px;
  height: 50px;
  background-color: #ffffff00;
  padding: 10px;
  /* margin: 0 20px; */
  margin-left: auto;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#container .text {
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 400;
}

#container #menu-wrap {
  position: relative;
  height: 25px;
  width: 25px;
}

#container #menu-wrap .dots {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
}

#container #menu-wrap .dots > div,
#container #menu-wrap .dots > div:after,
#container #menu-wrap .dots > div:before {
  height: 6px;
  width: 6px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#container #menu-wrap .dots > div {
  position: relative;
}

#container #menu-wrap .dots > div:after {
  content: "";
  position: absolute;
  bottom: calc((25px / 2) - (6px / 2));
  left: 0;
}

#container #menu-wrap .dots > div:before {
  content: "";
  position: absolute;
  top: calc((25px / 2) - (6px / 2));
  left: 0;
}

#container #menu-wrap .menu {
  position: absolute;
  right: -10px;
  top: calc(-12px + 50px);
  width: 0;
  height: 0;
  background-color: rgba(75, 107, 142, 0.8);
  padding: 20px 15px;
  -webkit-box-shadow: 2px 4px 6px rgba(49, 49, 49, 0.2);
  box-shadow: 2px 4px 6px rgba(49, 49, 49, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

#container #menu-wrap .menu ul {
  list-style: none;
}

/* #container #menu-wrap .menu ul li {
  margin: 15px 0;
} */

#container #menu-wrap .menu ul li .link {
  text-decoration: none;
  color: rgba(49, 49, 49, 0.85);
  opacity: 0;
  visibility: hidden;
}

#container #menu-wrap .toggler {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  z-index: 2;
}

#container #menu-wrap .toggler:hover + .dots > div,
#container #menu-wrap .toggler:hover + .dots > div:after,
#container #menu-wrap .toggler:hover + .dots > div:before {
  background-color: rgba(255, 255, 255, 0.6);
}

#container #menu-wrap .toggler:checked + .dots > div {
  -webkit-transform: translateX(calc(((25px / 2) - (6px / 2)) * -0.7071067812))
    translateY(calc(((25px / 2) - (6px / 2)) * -0.7071067812));
  -ms-transform: translateX(calc(((25px / 2) - (6px / 2)) * -0.7071067812))
    translateY(calc(((25px / 2) - (6px / 2)) * -0.7071067812));
  transform: translateX(calc(((25px / 2) - (6px / 2)) * -0.7071067812))
    translateY(calc(((25px / 2) - (6px / 2)) * -0.7071067812));
}

#container #menu-wrap .toggler:checked + .dots > div:after {
  -webkit-transform: translateX(calc(((25px / 2) - (6px / 2)) * 0.7071067812))
    translateY(calc((2 * (25px / 2) - (6px / 2)) * 0.7071067812));
  -ms-transform: translateX(calc(((25px / 2) - (6px / 2)) * 0.7071067812))
    translateY(calc((2 * (25px / 2) - (6px / 2)) * 0.7071067812));
  transform: translateX(calc(((25px / 2) - (6px / 2)) * 0.7071067812))
    translateY(calc((2 * (25px / 2) - (6px / 2)) * 0.7071067812));
}

#container #menu-wrap .toggler:checked + .dots > div:before {
  -webkit-transform: translateX(
      calc(2 * (((25px / 2) - (6px / 2)) * 0.7071067812))
    )
    translateY(
      calc(((25px / 2) - (6px / 2)) - (((25px / 2) - (6px / 2)) * 0.7071067812))
    );
  -ms-transform: translateX(calc(2 * (((25px / 2) - (6px / 2)) * 0.7071067812)))
    translateY(
      calc(((25px / 2) - (6px / 2)) - (((25px / 2) - (6px / 2)) * 0.7071067812))
    );
  transform: translateX(calc(2 * (((25px / 2) - (6px / 2)) * 0.7071067812)))
    translateY(
      calc(((25px / 2) - (6px / 2)) - (((25px / 2) - (6px / 2)) * 0.7071067812))
    );
}

#container #menu-wrap .toggler:checked:hover + .dots > div,
#container #menu-wrap .toggler:checked:hover + .dots > div:after,
#container #menu-wrap .toggler:checked:hover + .dots > div:before {
  background-color: rgba(49, 49, 49, 0.6);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#container #menu-wrap .toggler:checked ~ .menu {
  opacity: 1;
  visibility: visible;
  width: 120px;
  height: 60px;
  display: grid;
  padding-right: 50px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  
}

#container #menu-wrap .toggler:checked ~ .menu ul .link {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s ease 0.3s;
  -o-transition: 0.5s ease 0.3s;
  transition: 0.5s ease 0.3s;
}

#container #menu-wrap .toggler:checked ~ .menu ul .link:hover {
  color: #2980b9;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#container #menu-wrap .toggler:not(:checked) ~ .menu {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#container #menu-wrap .toggler:not(:checked) ~ .menu ul .link {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

@media (max-width: 600px) {
  #container {
    position: absolute;
    top: 50px;
    width: calc(100% - 40px);
    margin: 0;
  }
}