<body id="chat-container">
  <header class="bg-primary">
    <script src="https://kit.fontawesome.com/1fc46ee2d4.js" crossorigin="anonymous"></script>
    <div class="head-details">    
      <div class="user-info">
        <!-- <img src="{{receiver.userDetails.userImage}}" alt="" height="40px" width="40px"> -->
        <img src="{{ receiver.userDetails.userImage }}" alt="Profile Image" height="40px" width="40px"
          onerror="this.onerror=null; this.src='fallback-image.png';" />
        <h6>{{ receiver.friendUser.username }}</h6>
      </div>
    
      <!-- ================================= -->
      
      <div class="dropdown">
        <button class="dropbtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
        <div class="dropdown-content">
        <a (click)="viewProfile()" >Show Profile</a>
        <a >Remove Friend</a>
        </div>
      </div>
      

      <!-- ================================= -->
    </div>
  </header>

  <div>
    <ng-container *ngIf="showModal">
      <div class="modal  " id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true"
          style="display: block; background-color: #88b7df80;" (click)="showModal=false">
          <div class="modal-dialog" >
              <div class="modal-content ">
                  
                <section class="vh-100" >
                  <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                      <div class="col col-lg-6 mb-4 mb-lg-0">
                        <div class="card mb-3" style="border-radius: .5rem;">
                          <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                              <img src="{{receiver.userDetails.userImage}}"
                                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                              <h5>{{ receiver.friendUser.username }}</h5>
                              <!-- <p>Web Designer</p> -->
                              <i class="far fa-edit mb-5"></i>
                            </div>
                            <div class="col-md-8">
                              <div class="card-body p-4">
                                <h6>Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                  <div class="col-6 mb-3">
                                    <h6>Email</h6>
                                    <p class="text-muted">{{ receiver.friendUser.email }}</p>
                                  </div>
                                  <div class="col-6 mb-3">
                                    <h6>Phone</h6>
                                    <p class="text-muted">{{ receiver.friendUser.phoneNum }}</p>
                                  </div>
                                </div>
                                <h6>About</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                  <div class="col-6 mb-3">
                                    <!-- <h6>Recent</h6> -->
                                    <p class="text-muted">{{ receiver.userDetails.about }}</p>
                                  </div>
                                  <!-- <div class="col-6 mb-3">
                                    <h6>Most Viewed</h6>
                                    <p class="text-muted">Dolor sit amet</p>
                                  </div> -->
                                </div>
                                <!-- <div class="d-flex justify-content-start">
                                  <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                                  <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                                  <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>


              </div>
          </div>
      </div>
  </ng-container>
    <main id="mainChat">
      <div id="chat-history" *ngFor="let chat of chats">
        <!-- <div
          *ngIf="chat.recipient === receiver.friendUser.userId and chat.messageText!=null"
          class="message-right"
        >
          <p>{{ chat.messageText }}</p>
        </div> -->
        <!-- <div *ngIf="chat.recipient === receiver.friendUser.userId && (chat.messageText || chat.attachmentPath)" class="message-right">
            <p *ngIf="chat.messageText">{{ chat.messageText }}</p>
            <a *ngIf="chat.attachmentPath" [href]="getAttachmentUrl(chat.attachmentPath)" target="_blank">
                <img src="{{ chat.attachmentPath }}" alt="Profile Image"
                 onerror="this.onerror=null; this.src='fallback-image.png';" />
                {{ chat.attachmentPath }}
            </a>
        </div> -->
        <!-- ================================== -->
        
        <!-- ==================================== -->
        <div *ngIf="chat.recipient === receiver.friendUser.userId && (chat.messageText || chat.attachmentPath)"
          class="message-right">
          <p *ngIf="chat.messageText">{{ chat.messageText }}</p>
          <!-- <a *ngIf="chat.attachmentPath"target="_blank" [href]="getAttachmentUrl(chat.attachmentPath)" onclick="downloadFile(chat.attachmentPath)" >
              {{ chat.fileName }}
            </a> -->
          <div *ngIf="chat.attachmentPath" class="fileBox">
            <i class="fa-regular fa-file"></i>
            <label for="" class="fileName" >{{ chat.fileName }}</label>
            <button class="saveButton" *ngIf="chat.attachmentPath" (click)="downloadFile(chat.attachmentPath)">save</button>
          </div>

        </div>


        <div *ngIf="chat.recipient !== receiver.friendUser.userId && (chat.messageText || chat.attachmentPath)"
          class="message-left">
          <p *ngIf="chat.messageText">{{ chat.messageText }}</p>
          <!-- <a *ngIf="chat.attachmentPath" [href]="getAttachmentUrl(chat.attachmentPath)" target="_blank" onclick="downloadFile(chat.attachmentPath)">
               <p>{{ chat.fileName }}</p>
            </a> -->
          <div *ngIf="chat.attachmentPath" class="fileBox">
            <i class="fa-regular fa-file"></i>
            <label for="" class="fileName">{{ chat.fileName }}</label>
           <button class="saveButton" *ngIf="chat.attachmentPath" (click)="downloadFile(chat.attachmentPath)">save</button>
          </div>

        </div>


        <!-- Display file attachments -->

        <!-- <div >
            <a *ngIf="chat.attachmentPath" [href]="getAttachmentUrl(chat.attachmentPath)" target="_blank" >
            <p>file is displaying here</p>
            {{ chat.attachmentPath }}
            </a>
        </div> -->


      </div>

      <div id="chat-input">
        <!-- <input type="file" (change)="onFileSelected($event)" accept="image/*" /> -->
        <label class="btn btn-primary" id="fileInput">
          <span class='bx bx-folder nav_icon'></span>
          <input type="file" style="display:none" (change)="onFileSelected($event)" accept="image/*" />
        </label>
        &nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="Message" class="form-control" [(ngModel)]="message" (keyup.enter)="sendMessage(receiver.friendUser.userId)" />
          &nbsp;&nbsp;
          <button class="btn btn-primary"  (mouseenter)="toggleEmojiPicker()" style="background-color: rgb(19, 90, 141);" ><i class="fa-solid fa-face-smile"></i> </button>
          &nbsp;&nbsp;
        <button class="btn btn-primary" (click)="sendMessage(receiver.friendUser.userId)"> <i class="fa-solid fa-paper-plane"></i> </button> 
      </div>
      <!-- ====================== -->

      <div *ngIf="showEmojiPicker" class="emoji-picker" style="display: flex; position: absolute; margin-top: 600px;" >
        <div *ngFor="let emoji of emojis" (click)="addEmoji(emoji)">
          {{ emoji }}
        </div>
      </div>
      
      <!-- ======================= -->

    </main>
  </div>
</body>