#chat-container {
  width: 95.5%;
  /* margin-top: 46px; */
  height: 100hv;
  margin-left: 68px;
  /* padding: 10px; */
  background-color: #f1f1f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
  border-radius: 5px;
  /* height: 70px; */
  /* position: fixed; */
  /* background-color: #1A233A; */
}

header.bg-primary {
  background-color: #343c8f !important;
  position: fixed;
  /* padding-right: 100%; */
  width: inherit;
  padding-top: 10px;
  /* margin-top: 9px; */
}

header {
  color: #fff;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  height: 550px;
  margin-top: 50px;
  padding: 10px;
  background-color: #1a233a;
}

/* #chat-history {
	flex-grow: 1;
	background-color: #fff;
	font-size: large;
} */

#mainChat {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 30px;
}

#chat-input {
  display: flex;
  align-items: center;
  position: fixed;
  margin-top: 550px;
  margin-right: 10px;
  color: #1a233a;
}
img {
  border-radius: 20px;
}

.form-control {
  background-color: #17388e;
  padding-right: 1000px !important;
}

.message-left {
  display: flex;
  border-radius: 0px 15px 0px 0px;
  margin-top: 15px;
}

.message-right {
  display: flex;
  justify-content: end;
}

.message-left p,
.message-right p {
  background-color: #ddd;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
}

.message-right p {
  background-color: #007bff;
  color: #fff;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  margin-right: 10px;
}

#fileInput {
  background-color: #3e046d !important;
  border: 2px #3e046d;
}

.fileBox {
	/* padding: 40px 60px 40px 60px; */
	height: 140px;
    width: 300px;
	color: #f4e6ff;
	background-color: #440f70;
	border: 3px solid rgb(12, 26, 68);
}

.fileName{
	background-color: #8d29d0;
    padding-left: 10px;
    margin-left: 10px;
    text-align: center;
    width: 270px;
    height: 50px;
}

.saveButton{
	background-color: #2d4ea3;
	color: #ddd;
	display: flex;
	margin-top: 10px;
	margin-left: 10px;
}

.fa-regular{
	display: flex;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.head-details{
 /* background-color: #007bff; */
 display: flex;
}




/* ======================================= */

.dropbtn {
  background-color: #ffffff1b;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: flex;
  /* display: inline-block; */
  float: right;
  margin-left: auto;
  padding-right: 20px;
}

.dropdown-content {
  right: 0;
  display: none;
  position: absolute;
  background-color: #2d5a78;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {background-color: #3cb1eb}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #beaeffae;
}


/* =========================== */

.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;
  
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1)); */
  background: -webkit-linear-gradient(to right bottom, rgb(255 0 195), rgb(0 62 228));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgb(255 0 195), rgb(0 62 228))
  }

  @media (min-width: 992px){
    .mb-lg-0 {
    margin-bottom: 0 !important;
    /* width: fit-content; */
    width: 600px;
    height: 500px;
}
  }

  .modal-content {
    background-color: #ffffff00;
    border: 0px solid rgba(0,0,0,0);
  }

  @media (min-width: 576px){
.modal-dialog {
    max-width: 100%;
    margin: 1.75rem auto;
}
  }