<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="C:\Angular\Project\E-Com\src\app\login\login.component.css"
  />
</head>


<body class="login-page">
  
  <div class="login-container">
    <div class="login-container"></div>
    <div class="login-box">
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" novalidate>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="emailId" formControlName="email" />
          <div
            *ngIf="
              emailControl?.invalid &&
              (emailControl?.dirty || emailControl?.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="emailControl?.errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="emailControl?.errors?.['email']">
              Email must be a valid email address.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" formControlName="password" />
          <div
            *ngIf="
              passwordControl?.invalid &&
              (passwordControl?.dirty || passwordControl?.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="passwordControl?.errors?.['required']">
              Password is required.
            </div>
            <div *ngIf="passwordControl?.errors?.['minlength']">
              Password must be at least 8 characters long.
            </div>
            <div *ngIf="passwordControl?.errors?.['pattern']">
              Password must contain at least one uppercase letter, one lowercase
              letter, one number, and one special character.
            </div>
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="loginForm.invalid"
        >
          Log in
        </button>

        <div *ngIf="loginError" class="alert alert-danger">
          {{ loginError }}
        </div>

        <hr />

        <p>Don't have an account? <a routerLink="/register">Register</a></p>
        <br>
        <p>forgot password? <a routerLink="/forgot-password">Reset password</a></p>
      </form>
    </div>
  </div>

</body>

