@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* :root {
  --nav-width: auto !important;
} */


body {
  background-image: url("src\assets\images\abstract_banner_with_world_map_design_2704.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  background-position: 50% 50%;
  width: 100%;
  align-items: center;
  justify-content: center;
  
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  z-index: 100;
}

.login-box {
  background-color: rgba(234, 229, 229, 0.8);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
}

.login-box input[type="email"],
.login-box input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 16px;
}

.login-box button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-box button[type="submit"]:hover {
  background-color: #0069d9;
}

.alert-danger {
  margin-top: 10px;
  text-align: left;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
  border-radius: 5px;
}

.alert-danger div {
  margin-bottom: 5px;
}

.login-box:hover {
  background-color: rgba(234, 229, 229, 1);
}
.container {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 20px;
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.container.active {
  animation: slideOut 0.5s ease forwards;
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
