<div class="header"></div>
<div class="product-page">
  <div class="container">
    <div class="product">
      <div class="product__photo">
        <div class="photo-container">
          <div class="photo-main">
            <img src="{{ iteam.imgUrl }}" alt="Product" />
          </div>
          <div class="photo-album">
            <ul>
              <li>
                <img src="{{ iteam.imgUrl }}" alt="Product" />
              </li>
              <li>
                <img src="{{ iteam.imgUrl }}" alt="Product" />
              </li>
              <li>
                <img src="{{ iteam.imgUrl }}" alt="Product" />
              </li>
              <li>
                <img src="{{ iteam.imgUrl }}" alt="Product" />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="product__info">
        <div class="title">
          <h1>{{ iteam.name }}</h1>
        </div>
        <div class="price">
          ₹ <span>{{ iteam.price }}</span>
        </div>
        <div class="variant">
          <h3>SELECT A COLOR</h3>
          <ul>
            <li><img src="{{ iteam.imgUrl }}" alt="Product" /></li>
            <li><img src="{{ iteam.imgUrl }}" alt="Product" /></li>
            <li><img src="{{ iteam.imgUrl }}" alt="Product" /></li>
            <li><img src="{{ iteam.imgUrl }}" alt="Product" /></li>
          </ul>
        </div>
        <div class="cart-line"></div>
        <div class="cart-item">
          <ul>
            <li>
              <a href="javascript:void(0);" (click)="addToCart(iteam)">
                <i class="fa fa-shopping-basket"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" (click)="addToWishlist(iteam)">
                <i class="fa fa-heart"></i>
              </a>
            </li>
            <li>
              <a href=""><i class="fa fa-search"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
