/* .header {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
}

.product-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 800px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product {
  display: flex;
}

.product__photo {
  flex: 1;
  margin-right: 20px;
}

.photo-container {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.photo-main {
  border-radius: 6px 6px 0 0;
  background-color: #9be010;
  background: radial-gradient(#e5f89e, #96e001);
  height: 70%;
}

.photo-main img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  filter: saturate(150%) contrast(120%) hue-rotate(10deg)
    drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
}

.photo-album ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.photo-album li {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.photo-album img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__info {
  flex: 1;
}

.title h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.price {
  font-size: 24px;
  margin-bottom: 20px;
  color: red;
}

.variant h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.variant ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.variant li {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.variant img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-line {
  height: 1px;
  background-color: #ccc;
  margin: 30px 0;
}

.cart-item ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item li {
  margin-right: 15px;
}

.fa {
  font-size: 30px;
  color: #333;
}

.fa:hover {
  color: #f00;
} */
.header {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
  }
  
  .product-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    max-width: 800px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #6a11cb; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      rgba(106, 17, 203, 1),
      rgba(37, 117, 252, 1)
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      rgba(106, 17, 203, 1),
      rgba(37, 117, 252, 1)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .product {
    display: flex;
  }
  
  .product__photo {
    flex: 1;
    margin-right: 20px;
  }
  
  .photo-container {
    position: relative;
    height: 400px;
    overflow: hidden;
  }
  
  .photo-main {
    border-radius: 6px 6px 0 0;
    background-color: #9be010;
    background: radial-gradient(#e5f89e, #96e001);
    height: 70%;
  }
  
  .photo-main img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    filter: saturate(150%) contrast(120%) hue-rotate(10deg)
      drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
  }
  
  .photo-album ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .photo-album li {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
  .photo-album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .product__info {
    flex: 1;
  }
  
  .title h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .price {
    font-size: 24px;
    margin-bottom: 20px;
    color: red;
  }
  
  .variant h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .variant ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .variant li {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
  .variant img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .cart-line {
    height: 1px;
    background-color: #ccc;
    margin: 30px 0;
  }
  
  .cart-item ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .cart-item li {
    margin-right: 15px;
  }
  .fa {
    font-size: 30px;
    color: #333;
  }
  
  .fa:hover {
    color: #f00;
  }
  
  .gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      to right,
      rgba(106, 17, 203, 1),
      rgba(37, 117, 252, 1)
    );
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      to right,
      rgba(106, 17, 203, 1),
      rgba(37, 117, 252, 1)
    );
  }
  
  .header {
    background: linear-gradient(
      to right,
      rgba(106, 17, 203, 1),
      rgba(37, 117, 252, 1)
    );
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .product-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
      to right,
      rgba(106, 17, 203, 1),
      rgba(37, 117, 252, 1)
    );
  }
  