<!--src="./assets/Images/Batman Tshirt.jpg"-->

<!--₹ ₹ ₹ ₹ ₹ ₹ ₹ ₹ ₹ -->

<!--    TEST 3-->

<section class="bg-color">
    <div class="containers">
      <div class="title">
        <p>The Best Seller</p>
        <h2><span>Best</span> Seller</h2>
      </div>
      <div class="row">
        <div class="col-md-3" *ngFor="let item of items">
          <div class="card">
            <div class="card-main">
              <div class="discount" *ngIf="item.discount">
                {{ item.discount }}
              </div>
              <div class="label label-green" *ngIf="item.label">
                {{ item.label }}
              </div>
              <div class="product-container">
                <div class="p" (mouseover)="imageChange($event)">
                  <img src="{{ item.imgUrl }}" alt="Product" />
                </div>
              </div>
              <div class="image">
                <img src="{{ item.imgUrl }}" alt="Product" />
              </div>
              <div class="cart-line"></div>
              <div class="cart-item">
                <ul>
                  <li>
                    <a href="javascript:void(0);" (click)="addToCart(item)"
                      ><i class="fa fa-shopping-basket"></i
                    ></a>
                  </li>
  
                  <li>
                    <a href="javascript:void(0);" (click)="addToWishlist(item)">
                      <i class="fa fa-heart"></i>
                    </a>
                  </li>
                  <li>
                    <a (click)="goToProduct(item.id)" >
                      <i class="fa fa-search"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="content">
              <a href="javascript:void(0);">{{ item.name }}</a>
              <div class="rating">
                <span
                  *ngFor="let star of [1, 2, 3, 4, 5]"
                  class="fa fa-star-o"
                ></span>
              </div>
              <p>
                <span class="money">₹{{ item.price }}</span>
                <span class="price-old" *ngIf="item.discount"
                  >₹{{ item.price + item.discount }}</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- --------------------------------------->
  <section class="bg-colour">
    <section class="policy">
      <div class="containers text-center">
        <div class="row">
          <div class="col-md-4">
            <div class="policy-card">
              <div class="round">
                <div class="round-icon">
                  <i class="fa fa-car" style="color: black"></i>
                </div>
              </div>
              <h2 style="color: black">Free Shipping &amp; Return</h2>
              <p>Free shipping on all India order</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="policy-card">
              <div class="round">
                <div class="round-icon">
                  <i class="fa fa-refresh" style="color: black"></i>
                </div>
              </div>
              <h2 style="color: black">Money Back Guarentee</h2>
              <p>30 days money back guarentee</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="policy-card">
              <div class="round">
                <div class="round-icon">
                  <i class="fa fa-phone" style="color: black"></i>
                </div>
              </div>
              <h2 style="color: black">Online Support 24/24</h2>
              <p>Our team available at your assistant</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <!---------------------------------------------------# CARDS-->
  <br /><br />
  
  <section class="policy-product">
    <div class="containers">
      <div class="row">
        <div class="col-md-4">
          <div class="policy-p-card">
            <div class="date">
              <h3>25</h3>
              <h4>Jan</h4>
            </div>
            <div class="policy-img">
              <img src="./assets/Images/Batman Tshirt.jpg" alt="P1" />
            </div>
            <h2>Product NAME</h2>
            <p>Product Description</p>
            <a href="" class="read-more"
              >Read More<i class="fa fa-caret-right"></i
            ></a>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="policy-p-card">
            <div class="date">
              <h3>25</h3>
              <h4>Jan</h4>
            </div>
            <div class="policy-img">
              <img src="./assets/Images/Batman Tshirt.jpg" alt="P1" />
            </div>
            <h2>Product NAME</h2>
            <p>Product Description</p>
            <a href="" class="read-more"
              >Read More<i class="fa fa-caret-right"></i
            ></a>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="policy-p-card">
            <div class="date">
              <h3>25</h3>
              <h4>Jan</h4>
            </div>
            <div class="policy-img">
              <img src="./assets/Images/Batman Tshirt.jpg" alt="P1" />
            </div>
            <h2>Product NAME</h2>
            <p>Product Description</p>
            <a href="" class="read-more"
              >Read More<i class="fa fa-caret-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!--//////////////////////////////////////////footer-->
  <!-- <section class="product">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-3 mx-auto mb-4" *ngFor="let item of items">
          <div class="card">
            <div class="card-labels">
              <span
                class="label label-preorder"
                *ngIf="item.label === 'Preorder'"
                >{{ item.label }}</span
              >
              <span class="label label-sale" *ngIf="item.label === 'Sale'">{{
                item.label
              }}</span>
            </div>
            <img [src]="item.imgUrl" class="card-img-top" alt="{{ item.name }}" />
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">
                <del *ngIf="item.discount">{{ item.price }}</del>
                <ng-container
                  *ngIf="item.discount !== undefined && item.price !== undefined"
                  >{{ item.price - item.discount }}</ng-container
                >
              </p>
              <div class="cart-item">
                <ul>
                  <li>
                    <a href="javascript:void(0);" (click)="addToCart(item)">
                      <i class="fa fa-shopping-basket"></i>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" (click)="addToWishlist(item)">
                      <i class="fa fa-heart"></i>
                    </a>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-search"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  
  <!--- ITERATION -->
  
  <!-- <section class="product">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-3 mx-auto mb-4">
          <div class="card">
            <img
              src="../assets/Images/Batman Tshirt.jpg"
              class="card-img-top"
              alt="Item 1"
            />
            <div class="card-body">
              <h5 class="card-title">Item 1</h5>
              <p class="card-text">$10.99</p>
             
              <div class="cart-item">
                <ul>
                  <li>
                    <a href="javascript:void(0);" (click)="addToCart(items[0])">
                      <i class="fa fa-shopping-basket"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="javascript:void(0);"
                      (click)="addToWishlist(items[0])"
                    >
                      <i class="fa fa-heart"></i>
                    </a>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-search"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mx-auto mb-4">
          <div class="card">
            <img
              src="../assets/Images/Batman Tshirt.jpg"
              class="card-img-top"
              alt="Item 2"
            />
            <div class="card-body">
              <h5 class="card-title">Item 2</h5>
              <p class="card-text">$15.99</p>
              
              <div class="cart-item">
                <ul>
                  <li>
                    <a href="javascript:void(0);" (click)="addToCart(items[1])">
                      <i class="fa fa-shopping-basket"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="javascript:void(0);"
                      (click)="addToWishlist(items[1])"
                    >
                      <i class="fa fa-heart"></i>
                    </a>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-search"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mx-auto mb-4">
          <div class="card">
            <img
              src="../assets/Images/Batman Tshirt.jpg"
              class="card-img-top"
              alt="Item 3"
            />
            <div class="card-body">
              <h5 class="card-title">Item 3</h5>
              <p class="card-text">$8.99</p>
          
              <div class="cart-item">
                <ul>
                  <li>
                    <a href="javascript:void(0);" (click)="addToCart(items[2])">
                      <i class="fa fa-shopping-basket"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="javascript:void(0);"
                      (click)="addToWishlist(items[2])"
                    >
                      <i class="fa fa-heart"></i>
                    </a>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-search"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mx-auto mb-4">
          <div class="card">
            <img
              src="../assets/Images/Batman Tshirt.jpg"
              class="card-img-top"
              alt="Item 4"
            />
            <div class="card-body">
              <h5 class="card-title">Item 4</h5>
              <p class="card-text">$12.99</p>
           
              <div class="cart-item">
                <ul>
                  <li>
                    <a href="javascript:void(0);" (click)="addToCart(items[3])">
                      <i class="fa fa-shopping-basket"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="javascript:void(0);"
                      (click)="addToWishlist(items[3])"
                    >
                      <i class="fa fa-heart"></i>
                    </a>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-search"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  
  <!---THIS ISI IT MAY BE -->
  <!-- <button class="btn btn-primary" (click)="addToCart(items[3])">
                Add to Cart
              </button> -->
  