<!-- <div class="col-md-12">
    <div class="card card-container">
        <form name="form"  >
            <div class="form-group">
                <div class="alert alert-danger" role="alert" *ngIf="error">Payment failed: {{ error }}</div>
                <div class="alert alert-success" role="alert" *ngIf="paymentId">Payment Success. Payment ID: {{ paymentId }}</div>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" value="{{userData.username}}" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" value="{{userData.email}}" />
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="number" class="form-control" name="phone" value="{{userData.phoneNum}}"/>
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" name="amount"value="{{total}}" />
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="onSubmit()">Proceed</button>
            </div>
        </form>
    </div>
</div> -->
