body{
    
    color: #bcd0f7;
    background: #1A233A;
    /* background-image: url("src\assets\images\img2.jpg") ; */
    padding-bottom: 40px;
    display: flex;
    

    }
    .container{
      
        
        padding-top: 8%;
        padding-bottom: 5%; 
        padding-right: 8%;
        padding-left: 10%;
        display: flex;
      
        background-size: cover;
        background-position: center;

        align-items: center;
        justify-content: center;
        

    }
    .account-settings .user-profile {
        margin: 0 0 1rem 0;
        padding-bottom: 1rem;
        text-align: center;
    }
    .account-settings .user-profile .user-avatar {
        margin: 0 0 1rem 0;
    }
    .account-settings .user-profile .user-avatar img {
        width: 90px;
        height: 90px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }
    .account-settings .user-profile h5.user-name {
        margin: 0 0 0.5rem 0;
    }
    .account-settings .user-profile h6.user-email {
        margin: 0;
        font-size: 0.8rem;
        font-weight: 400;
    }
    .account-settings .about {
        margin: 1rem 0 0 0;
        font-size: 0.8rem;
        text-align: center;
    }
    .card {
        background: #8b59bd;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        margin-bottom: 1rem;
    }
    .form-control {
        border: 1px solid #596280;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-size: .825rem;
        background: #1A233A;
        color: #bcd0f7;
    }

    .text-primary {
        color: white !important;
        
    }

.row {
    padding: 10px;
}

.About  {
    padding-right: 350px ;
    padding-bottom: 50px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #1A233A;
    color: #bcd0f7;
}

.file-input-label {
    background-color: #4CAF50;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .file-input-label:hover {
    background-color: #45a049;
  }
  