<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous" />
    <link rel="stylesheet" href="C:\Angular\Project\E-Com\src\app\login\login.component.css" />
    <script src="https://kit.fontawesome.com/1fc46ee2d4.js" crossorigin="anonymous"></script>

    <!-- ===================== -->
    <link rel="stylesheet"
        href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/compiled-4.20.0.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap">
    <!-- ======================== -->
</head>


<body class="login-page">
    <div class="login-container" *ngIf="selectionTrue">
        <div class="login-container">
            <div class="login-box">
                <form>
                    <h3 style="  font-family: Google Sans; font-weight: 400;"> Account recovery with</h3>
                    <br><br>
                    <div class="form-group">
                        <button type="button" class="btn btn-email btn-lg waves-effect waves-light"
                            (click)="onClickEmail()">
                            <i class="fas fa-envelope"></i> Email
                        </button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-slack btn-lg waves-effect waves-light"
                            (click)="onClickPhone()">
                            <i class="fab fa-slack-hash"></i> Phone
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- ======================== email below ===================== -->


    <div *ngIf="emailTrue">
        <div class="login-container">
            <div class="login-box">
                <form #recoveryForm="ngForm" (ngSubmit)="sendOTPtoMail(recoveryForm.value)">
                    <h3 style="  font-family: Google Sans; font-weight: 400;"> Enter your Email</h3>
                    <br>
                    <br>
                    <div class="form-group">
                        <input type="email" id="email" name="emailId" ngModel />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-tw btn-lg waves-effect waves-light">
                            Send OTP
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <!-- ============================= phone below ===================== -->

    <div *ngIf="phoneTrue">

        <div class="login-container">
            <div class="login-box">
                <form #recoveryForm="ngForm" (ngSubmit)="sendOTPtoPhone(recoveryForm.value)">
                    <h3 style="  font-family: Google Sans; font-weight: 400;"> Enter your phone number</h3>
                    <br>                  <br>
                    <div class="form-group">
                        <input type="text" id="phone" name="phoneNum" ngModel />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-tw btn-lg waves-effect waves-light">
                            Send OTP
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>


    <!-- =============================OTP verification============================== -->

    <div *ngIf="emailOTP">

        <div class="login-container">
            <div class="login-box">
                <form #otpForm="ngForm" (ngSubmit)="checkOTP(otpForm.value)" novalidate>
                    <div class="position-relative">
                        <div class="card p-2 text-center">

                            <h6>Please enter the one-time password <br> to verify your account</h6>
                            <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                                <input #firstInput class="m-2 text-center form-control rounded" type="text" id="first"
                                    (keyup)="onKeyUp($event, secondInput)" maxlength="1" ngModel name="first"
                                    required />
                                <input #secondInput class="m-2 text-center form-control rounded" type="text" id="second"
                                    (keyup)="onKeyUp($event, thirdInput)" maxlength="1" ngModel name="second"
                                    required />
                                <input #thirdInput class="m-2 text-center form-control rounded" type="text" id="third"
                                    (keyup)="onKeyUp($event, fourthInput)" maxlength="1" ngModel name="third"
                                    required />
                                <input #fourthInput class="m-2 text-center form-control rounded" type="text" id="fourth"
                                    (keyup)="onKeyUp($event, fifthInput)" maxlength="1" ngModel name="fourth"
                                    required />
                                <input #fifthInput class="m-2 text-center form-control rounded" type="text" id="fifth"
                                    (keyup)="onKeyUp($event, sixthInput)" maxlength="1" ngModel name="fifth" required />
                                <input #sixthInput class="m-2 text-center form-control rounded" type="text" id="sixth"
                                    (keyup)="onKeyUp($event, null)" maxlength="1" ngModel name="sixth" required />
                            </div>
                            <div class="mt-4">
                                <button class="btn btn-danger px-4 validate" type="submit">Validate</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <!-- =======================================resetPassword=================================================== -->

    <div *ngIf="resetPass">
        <p>inside resetPass</p>
        <div *ngIf="isEmail">
            <div class="login-container">
                <div class="login-box">
                    <form #recoveryForm="ngForm" (ngSubmit)="updatePassWithMail(recoveryForm.value)">
                        <h3 style="  font-family: Google Sans; font-weight: 400;"> Reset password</h3>
                        <br><br>
                        <div class="form-group">
                            <input type="password" id="phone" name="password" ngModel placeholder="Enter new password" />
                        </div>
                        <div class="form-group">
                            <input type="password" id="phone" name="password" ngModel placeholder="Confirm new password" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-tw btn-lg waves-effect waves-light">
                                Set password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div *ngIf="isPhone">
            <div class="login-container">
                <div class="login-box">
                    <form #recoveryForm="ngForm" (ngSubmit)="updatePassWithPhone(recoveryForm.value)">
                        <h3 style="  font-family: Google Sans; font-weight: 400;"> Reset password</h3>
                        <br><br>
                        <div class="form-group">
                            <input type="password" id="phone" name="password" ngModel placeholder="Enter new password" />
                        </div>
                        <div class="form-group">
                            <input type="password" id="phone" name="password" ngModel placeholder="Confirm new password" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-tw btn-lg waves-effect waves-light">
                                Set password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>


</body>