
<!-- <body id="body-pd">
    <header class="header" id="header">
        <div class="header_img" (click)="alertImg()"><img src="https://i.imgur.com/hczKIze.jpg" alt=""></div>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div><a href="#" class="nav_logo"><i class='bx bx-layer nav_logo-icon'></i></a>
                    <div class="nav_list">
                        <a href="#" class="nav_link "><i class='bx bx-grid-alt nav_icon'></i></a>
                        <a routerLink="contacts" class="nav_link"><i class='bx bx-user nav_icon'></i></a>
                        <a routerLink="chat" class="nav_link"><i class='bx bx-message-square-detail nav_icon'></i></a>
                        <a href="#" class="nav_link"><i class='bx bx-bookmark nav_icon'></i></a>
                        <a href="#" class="nav_link"><i class='bx bx-folder nav_icon'></i></a>
                        <a href="#" class="nav_link"><i class='bx bx-bar-chart-alt-2 nav_icon'></i></a>
                    </div>
                </div>
                <a href="#" class="nav_link"><i class='bx bx-log-out nav_icon'></i></a>
            </nav>
        </div>
    </header>
    <router-outlet></router-outlet>
</body> -->

<body id="body-pd">
    <header class="header" id="header">
       
        <!-- <div class="header_img" routerLink="/home/profile" ><img src="assets\images\pfp1.png" alt=""></div> -->

        <!-- <div class="header_img" routerLink="/home/profile" ><img src="{{this.userImage}}" (error)="onImageError()" alt="Profile Image"></div> -->

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <!-- <a href="#" class="nav_logo"></a> -->
                    <div class="header_img" routerLink="/home/profile" ><img src="{{this.userImage}}" (error)="onImageError()" alt="Profile Image"></div>
                    <div class="nav_list">
                        <!-- <a href="#" class="nav_link "><i class='bx bx-grid-alt nav_icon'></i></a> -->
                        <a routerLink="contacts" class="nav_link"><i class='bx bx-user nav_icon'></i></a>
                        <a routerLink="chat" class="nav_link"><i class='bx bx-message-square-detail nav_icon'></i></a>
                        <a routerLink="posting-page" class="nav_link"><i class="fa-brands fa-instalod"></i></a>
                        <!-- <a href="#" class="nav_link"><i class='bx bx-folder nav_icon'></i></a> -->
                        <a routerLink="header" class="nav_link"><i class="fas fa-shopping-cart nav_icon"></i></a>
                    </div>
                    
                </div>
                <a href="#" class="nav_link"><i class='bx bx-log-out nav_icon'></i></a>
            </nav>
        </div>
    </header>
   
    <router-outlet></router-outlet>
</body>
  