<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input
                      type="text"
                      id="name"
                      class="form-control form-control-lg"
                      formControlName="username"
                    />
                    <label class="form-label" for="">Username Name</label>
                  </div>
                  <div
                    *ngIf="
                      registerForm.controls['username'].invalid &&
                      (registerForm.controls['username'].dirty ||
                        registerForm.controls['username'].touched)
                    "
                    class="alert alert-danger"
                  >
                    <div
                      *ngIf="registerForm.controls['username'].errors?.['required']"
                    >
                      Username is required.
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline datepicker w-100">
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      id="phoneNumber"
                      formControlName="phoneNumber"
                    />
                    <label for="phoneNumber" class="form-label"
                      >phone number</label
                    >
                  </div>
                  <div
                    *ngIf="
                      registerForm.controls['phoneNumber'].invalid &&
                      (registerForm.controls['phoneNumber'].dirty ||
                        registerForm.controls['phoneNumber'].touched)
                    "
                    class="alert alert-danger"
                  >
                    <div
                      *ngIf="registerForm.controls['phoneNumber'].errors?.['required']"
                    >
                      Phone Number is required.
                    </div>
                    <div
                      *ngIf="registerForm.controls['phoneNumber'].errors?.['minlength']"
                    >
                      Phone Number must be at least 10 digits.
                    </div>
                    <div
                      *ngIf="registerForm.controls['phoneNumber'].errors?.['maxlength']"
                    >
                      Phone Number cannot be more than 10 digits.
                    </div>
                    <div
                      *ngIf="registerForm.controls['phoneNumber'].errors?.['pattern']"
                    >
                      Phone Number can only contain numbers.
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <input
                      type="email"
                      class="form-control form-control-lg"
                      id="email"
                      formControlName="email"
                    />
                    <label for="email" class="form-label">email</label>
                  </div>
                  <div
                    *ngIf="
                      registerForm.controls['email'].invalid &&
                      (registerForm.controls['email'].dirty ||
                        registerForm.controls['email'].touched)
                    "
                    class="alert alert-danger"
                  >
                    <div
                      *ngIf="registerForm.controls['email'].errors?.['required']"
                    >
                      Email is required.
                    </div>
                    <div
                      *ngIf="
                    registerForm.controls['email'].errors?.['email'] &&
                    !registerForm.controls['email'].errors?.['required']
                  "
                    >
                      Invalid email format.
                    </div>
                  </div>
                </div>
                
                <div class="col-md-6 mb-4">
                  <h6 class="mb-2 pb-1">Gender:</h6>
                
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="femaleGender"
                      value="female"
                      name="gender"
                      (change)="registerForm.controls['gender'].setValue('female')"
                    />
                    <label class="form-check-label" for="femaleGender">Female</label>
                  </div>
                  
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="maleGender"
                      value="male"
                      name="gender"
                      (change)="registerForm.controls['gender'].setValue('male')"
                    />
                    <label class="form-check-label" for="maleGender">Male</label>
                  </div>
                  
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="otherGender"
                      value="other"
                      name="gender"
                      (change)="registerForm.controls['gender'].setValue('other')"
                    />
                    <label class="form-check-label" for="otherGender">Other</label>
                  </div>
                  


                </div>
                


              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input
                      type="password"
                      id="password"
                      class="form-control form-control-lg"
                      formControlName="password"
                    />
                    <label class="form-label" for="password">Password</label>
                  </div>
                  <div
                    *ngIf="
                      registerForm.controls['password'].invalid &&
                      (registerForm.controls['password'].dirty ||
                        registerForm.controls['password'].touched)
                    "
                    class="alert alert-danger"
                  >
                    <div
                      *ngIf="registerForm.controls['password'].errors?.['required']"
                    >
                      Password is required.
                    </div>
                    <div
                      *ngIf="registerForm.controls['password'].errors?.['minlength']"
                    >
                      Password must be at least 8 characters long.
                    </div>
                  </div>
                </div>

                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input
                      type="password"
                      id="confirmPassword"
                      class="form-control form-control-lg"
                      formControlName="confirmPassword"
                    />
                    <label class="form-label" for="confirmPassword"
                      >Confirm Password</label
                    >
                  </div>
                  <div
                    *ngIf="
                      (registerForm.controls['confirmPassword'].dirty ||
                        registerForm.controls['confirmPassword'].touched) &&
                      (
                        registerForm.controls['confirmPassword'].hasError('required') ||
                        registerForm.controls['confirmPassword'].hasError('minlength') ||
                        registerForm.controls['confirmPassword'].value !== registerForm.controls['password'].value
                      )
                    "
                    class="alert alert-danger"
                  >
                    <div *ngIf="registerForm.controls['confirmPassword'].hasError('required')">
                      Confirm Password is required.
                    </div>
                    
                    <div *ngIf="registerForm.controls['confirmPassword'].value !== registerForm.controls['password'].value">
                      Passwords do not match.
                    </div>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-10">
                  <select class="select form-control-lg" formControlName="country">
                    <option value="" disabled selected>Select a country</option>
                    <option *ngFor="let country of countries" [value]="country.cca3">
                      {{ country.name.common }}
                    </option>
                  </select>
                  <label class="form-label select-label">Country</label>
                </div>
              </div>
              

              <div class="row">
                <div class="col-10">
                  <div *ngIf="registerStatus==null">
                      {{registerStatus}}
                  </div>
                </div> 
              </div>

              <div class="mt-4 pt-2">
                <button class="btn btn-primary">Register</button>
              </div>

              <div *ngIf="userExist"class="alert alert-danger">
                User aready exists
            </div>
            <div *ngIf="emailExist" class="alert alert-danger">
              User aready exists
          </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

